<!-- views/admin.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Admin Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
				<table class="table-striped">
					<tbody>
						<tr>
							<th>Domain</th>
							<th>Name</th>
							<th>Email</th>
							<th>Active?</th>
							<th>Admin?</th>
							<th>ID #</th>
						</tr>
					<% for(var i=0; i<items.length; i++) {%>
						<tr>
							<td><%= items[i].domain %></td>
							<td><%= items[i].name %></td>
							<td><%= items[i].email %></td>
							<td><%= items[i].flagActive %></td>
							<td><%= items[i].flagAdmin %></td>
							<td><%= items[i]._id %></td>
						</tr>
					<% } %>
					</tbody>
				</table>
					

			</div>
		</div>

	</div>

</div>
</body>
</html>