extends layout

block content
  <a href="/">Home</a>
  h1= title
  p= copy

  // Wrapper
  #wrapper
    table.email-list-table
      tr.email-list-headers
       th Name
       th Email
       th Interested In?
       th Budget
       th Comments
       th Member ID
       th Delete?
      -for email in emails
        tr
          td= email.name
          td= email.email
          td= email.interest
          td= email.budget
          td= email.comments
          td= email.memberID
          td <a href="#" class="deleteEmail" rel="#{email._id}">Delete Email</a>
            
  // /WRAPPER